<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @comments %>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.title %></td>
            <td><%= comment.description %></td>
            <td><%= comment.user_id %></td>
            <td><%= link_to 'Show', post_comment_path(comment.post_id, comment) %></td>
            <td><%= link_to 'Edit', edit_post_comment_path(comment.post_id, comment) %></td>
            <td><%= link_to 'Destroy', post_comment_path(comment.post_id, comment) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= @post %>
<%= link_to 'New Comment', new_post_comment_path(@Post) %>
<%= link_to 'Back', posts_path %>
